# Database credentials (injected by Helios Operator in Kubernetes)
DB_HOST=localhost
DB_PORT=${{ values.dbPort }}
DB_NAME=${{ values.name | replace('-', '_') }}_db
DB_USER=postgres
DB_PASS=postgres

# Application
SERVER_PORT=${{ values.port }}
