{% if values.hasDatabase -%}
# Database credentials (injected by Helios Operator)
DB_HOST=localhost
DB_USER=postgres
DB_PASS=postgres
DB_NAME=${{ values.name }}
DB_PORT=${{ values.dbPort }}

{% endif -%}
# Application
PORT=${{ values.port }}
