{% if values.hasDatabase -%}
# Database credentials (injected by Helios Operator)
DB_HOST=localhost
DB_USER=postgres
DB_PASS=postgres
DB_NAME=${{ values.name }}_db
DB_PORT=5432

{% endif -%}
# Application
PORT=${{ values.port }}
